[defaults] # default settings and configuration options that apply globally to all your Ansible commands and playbooks

# directories on the remote host and local control machine where Ansible will place temporary files during playbook execution
remote_tmp = /tmp/.ansible-${USER}/tmp

local_tmp = /tmp/.ansible-${USER}/tmp
vault_password_file = .vault_password

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

# To use yaml lint: Library/Python/3.11/bin/yamllint -f parsable .